# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.pyc

# Environment
.env
.env.*

# Virtual env
venv/
env/
.venv/

# Django specific
db.sqlite3
media/
staticfiles/
*.log

# VSCode / IDEs
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Migrations (опционально — если ты хочешь игнорировать их)
# **/migrations/*.py
# !**/migrations/__init__.py

# Pytest cache
.pytest_cache/

# Game stats
stats.json
processing_meta.json